In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

## Part 1: Import the Housing data and do feature transformations

In [4]:
df= pd.read_csv('https://raw.githubusercontent.com/ishankarve/NeuralNetworks/main/house_price_full_keras.csv')
df.head()

   bedrooms  sqft_living    price
0         3         1340   313000
1         5         3650  2384000
2         3         1930   342000
3         3         2000   420000
4         4         1940   550000

In [5]:
X = df.copy()
# Remove target
Y = X.pop('price')

# perform a scaler transform of the input data
scaler = StandardScaler()
X = scaler.fit_transform(X)

# perform log transformation of target variable (For Sandeep: Is this needed?)
Y = np.log(Y)

In [6]:
df_scaled = pd.DataFrame(X)
df_scaled

            0         1
0   -0.433198 -0.753258
1    1.675735  1.457330
2   -0.433198 -0.188649
3   -0.433198 -0.121661
4    0.621269 -0.179079
..        ...       ...
494  0.621269  0.873582
495  1.675735  2.299459
496 -0.433198 -0.724549
497 -0.433198 -0.179079
498 -0.433198 -1.040347

[499 rows x 2 columns]

In [7]:
Y

0      12.653958
1      14.684290
2      12.742566
3      12.948010
4      13.217674
         ...
494    13.380102
495    13.764217
496    12.128111
497    12.721886
498    12.254863
Name: price, Length: 499, dtype: float64

## Part 2: Create Model Using `keras`

![](https://github.com/ishankarve/NeuralNetworks/blob/main/multiple_neurons.png?raw=1)

In [8]:
from tensorflow import keras

In [9]:
model = keras.Sequential(
    [
        keras.layers.Dense(
            2, activation="sigmoid", input_shape=(X.shape[-1],)
        ),
        keras.layers.Dense(1, activation="linear")
    ]
)
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 2)                 6

 dense_1 (Dense)             (None, 1)                 3

=================================================================
Total params: 9
Trainable params: 9
Non-trainable params: 0
_________________________________________________________________

```python
def random_init_params():
    w1 = tf.Variable(tf.random.uniform((2, 2)))
    b1 = tf.Variable(tf.random.uniform((1, 2)))
    w2 = tf.Variable(tf.random.uniform((2, 1)))
    b2 = tf.Variable(tf.random.uniform((1, 1)))
    return w1,b1,w2,b2


def forward_prop(x, w1, b1, w2, b2):
    z1 = tf.matmul(x,w1) + b1
    h1 = tf.math.sigmoid(z1)
    z2 = tf.matmul(h1,w2) + b2
    h2 = z2
    return h2
```

In [10]:
model.compile(
    optimizer=keras.optimizers.SGD(), loss="mean_squared_error"
)

```python
def train(x, y, w1, b1, w2, b2):
    y_true = y
    with tf.GradientTape() as g:
        y_pred = forward_prop(x, w1, b1, w2, b2)

        # loss
        loss = 0.5*(y_true - y_pred)** 2
    
    #Gradient calculation  
    print("**************************************************")
    print("GRADIENTS")
    print("**************************************************")
    gw1, gb1, gw2, gb2 = g.gradient(loss, [w1, b1, w2, b2])
    print(" the gradient for 1st layer weights are:\n",gw1.numpy())
    print("--------------------------------------------------")
    print(" the gradient for 2nd layer weights are:\n",gw2.numpy())
    print("--------------------------------------------------")
    print(" the gradient for 1st layer bias are:\n",gb1.numpy())
    print("--------------------------------------------------")
    print(" the gradient for 2nd layer bias are:\n",gb2.numpy())
    print("--------------------------------------------------")

    # Gradient descent:
    lr=0.2
    w1.assign_sub(lr*gw1)
    b1.assign_sub(lr*gb1) 
    w2.assign_sub(lr*gw2)
    b2.assign_sub(lr*gb2)
    print("**************************************************")
    print("NEW UPDATES")
    print("**************************************************")
    print(" the updated 1st layer weights are:\n",w1.numpy())
    print("--------------------------------------------------")
    print(" the updated 2nd layer weights are:\n",w2.numpy())
    print("--------------------------------------------------")
    print(" the updated 1st layer bias are:\n",b1.numpy())
    print("--------------------------------------------------")
    print(" the updated 2nd layer bias are:\n",b2.numpy())


    return w1, b1, w2, b2,loss

```

In [11]:
model.fit(X,Y.values,epochs=10,batch_size=32)

Epoch 1/10
16/16 [==============================] - 1s 1ms/step - loss: 101.2854
Epoch 2/10
16/16 [==============================] - 0s 2ms/step - loss: 26.8125
Epoch 3/10
16/16 [==============================] - 0s 2ms/step - loss: 6.4182
Epoch 4/10
16/16 [==============================] - 0s 2ms/step - loss: 1.8715
Epoch 5/10
16/16 [==============================] - 0s 2ms/step - loss: 0.9061
Epoch 6/10
16/16 [==============================] - 0s 2ms/step - loss: 0.6534
Epoch 7/10
16/16 [==============================] - 0s 2ms/step - loss: 0.5486
Epoch 8/10
16/16 [==============================] - 0s 2ms/step - loss: 0.4811
Epoch 9/10
16/16 [==============================] - 0s 2ms/step - loss: 0.4289
Epoch 10/10
16/16 [==============================] - 0s 2ms/step - loss: 0.3878

In [12]:
model.predict(X)[:,0]

array([13.225859 , 12.667591 , 13.197348 , 13.193745 , 13.113943 ,
       12.892164 , 12.895981 , 13.042366 , 13.170589 , 13.151875 ,
       13.208368 , 13.022486 , 13.176129 , 13.236931 , 12.734411 ,
       13.232133 , 13.215141 , 13.004396 , 13.224489 , 13.233014 ,
       13.181036 , 13.158105 , 13.2064   , 13.040478 , 13.144719 ,
       13.189043 , 13.174477 , 13.09004  , 12.742765 , 13.160955 ,
       13.148301 , 13.028177 , 13.124872 , 13.031968 , 12.954526 ,
       13.122307 , 12.891342 , 13.201408 , 13.195809 , 13.172816 ,
       13.2146635, 13.155437 , 12.891861 , 13.205409 , 12.895028 ,
       13.2338915, 13.195294 , 13.197348 , 13.229019 , 12.98527  ,
       13.042366 , 13.1427   , 13.154578 , 13.203916 , 12.80052  ,
       13.11577  , 13.090965 , 12.666712 , 13.226767 , 12.897406 ,
       12.98527  , 13.156328 , 13.040478 , 13.164386 , 13.022486 ,
       12.892362 , 13.211294 , 13.240348 , 12.896798 , 13.183191 ,
       13.059299 , 13.146302 , 13.082626 , 13.198877 , 13.226313 ,
       12.895456 , 13.0928135, 13.040478 , 13.097426 , 13.167219 ,
       13.10937  , 12.948748 , 12.897438 , 13.203916 , 13.077049 ,
       12.898316 , 12.894493 , 13.219396 , 12.896339 , 12.894955 ,
       12.709637 , 13.185332 , 12.462065 , 13.175029 , 13.215617 ,
       12.750228 , 13.209835 , 12.717847 , 13.222651 , 12.636387 ,
       12.997711 , 13.193226 , 13.226313 , 13.074255 , 12.8364105,
       13.023435 , 13.10203  , 12.886037 , 12.891759 , 13.176632 ,
       13.1634245, 13.07984  , 13.238647 , 12.768093 , 13.107538 ,
       12.907692 , 13.181576 , 12.891447 , 12.708727 , 13.210323 ,
       13.111201 , 13.220796 , 12.117866 , 13.199893 , 13.199893 ,
       13.222651 , 13.155437 , 12.894493 , 13.197859 , 13.023435 ,
       13.122307 , 13.216093 , 12.815968 , 12.898247 , 12.897873 ,
       13.080769 , 13.203916 , 13.107538 , 13.204414 , 13.067723 ,
       13.1968355, 12.8946495, 12.976639 , 12.878323 , 13.215094 ,
       13.212744 , 13.222743 , 13.134783 , 12.596224 , 12.897241 ,
       13.06679  , 13.158993 , 12.89417  , 13.225403 , 13.09466  ,
       13.218926 , 13.193745 , 12.893573 , 12.890469 , 12.818878 ,
       13.2146635, 13.098349 , 13.171364 , 13.212261 , 12.979517 ,
       13.1185055, 13.151875 , 12.892362 , 13.238647 , 13.229467 ,
       12.427851 , 13.081697 , 13.032915 , 13.211294 , 13.211779 ,
       13.201408 , 13.108455 , 13.222651 , 13.153657 , 13.168908 ,
       13.240348 , 12.895174 , 13.077887 , 12.797636 , 13.06679  ,
       13.00535  , 13.102949 , 13.201408 , 13.1230545, 12.94393  ,
       13.222188 , 13.217986 , 13.186928 , 12.967994 , 13.212261 ,
       13.204414 , 13.108455 , 13.084482 , 13.012024 , 13.227219 ,
       12.930429 , 12.942001 , 12.722429 , 12.734411 , 13.139065 ,
       12.897518 , 12.9958   , 13.045196 , 13.230804 , 13.039534 ,
       12.978558 , 13.236067 , 12.840324 , 13.198877 , 12.892653 ,
       13.209347 , 13.222188 , 12.594588 , 13.194778 , 12.894728 ,
       13.183191 , 13.249023 , 13.219396 , 12.736263 , 13.155746 ,
       12.960397 , 13.229019 , 12.596224 , 13.01107  , 13.233454 ,
       12.814999 , 13.241192 , 13.068659 , 12.874467 , 13.229914 ,
       13.216567 , 13.213705 , 13.236067 , 13.201912 , 13.165522 ,
       13.156328 , 12.137245 , 13.070526 , 13.133924 , 13.190094 ,
       13.205904 , 13.209835 , 12.897064 , 13.063309 , 13.123964 ,
       13.223111 , 13.200399 , 12.194822 , 12.8936615, 13.153994 ,
       13.240348 , 13.2146635, 13.052727 , 13.197859 , 13.175029 ,
       12.103325 , 13.0611725, 13.122307 , 13.168908 , 12.893396 ,
       12.891552 , 12.780425 , 13.205409 , 12.895981 , 13.195809 ,
       12.985748 , 12.897398 , 12.626188 , 13.07984  , 13.14023  ,
       13.048022 , 13.1185055, 13.183727 , 13.192184 , 13.179409 ,
       13.213224 , 12.890911 , 12.897444 , 13.212261 , 12.422488 ,
       13.139673 , 13.1968355, 13.222651 , 13.239074 , 12.891552 ,
       12.89246  , 12.258646 , 13.091888 , 13.213705 , 13.218456 ,
       13.225859 , 13.200905 , 13.164386 , 12.8936615, 13.224031 ,
       13.211779 , 12.726105 , 13.095583 , 13.205904 , 13.21081  ,
       13.202415 , 13.089115 , 13.154547 , 13.229467 , 12.614421 ,
       12.928499 , 12.894572 , 13.047457 , 12.781377 , 13.213417 ,
       12.891552 , 12.897018 , 13.189043 , 12.711456 , 13.13302  ,
       13.210323 , 13.057423 , 12.722429 , 13.229914 , 13.106621 ,
       13.047081 , 12.893123 , 13.195809 , 12.890469 , 12.896042 ,
       12.898105 , 13.096504 , 13.125779 , 12.898267 , 13.209347 ,
       13.1968355, 13.07891  , 13.102949 , 12.975678 , 13.085409 ,
       13.223572 , 12.893833 , 13.218926 , 13.063982 , 12.778522 ,
       13.181036 , 13.197859 , 13.199386 , 13.085409 , 12.895456 ,
       12.892937 , 12.9871855, 13.108455 , 12.893484 , 13.1230545,
       13.194778 , 12.425459 , 12.895174 , 13.082626 , 13.170589 ,
       13.1420965, 13.082626 , 13.217986 , 13.24287  , 13.232574 ,
       13.227219 , 12.744628 , 13.2064   , 13.226767 , 13.065854 ,
       13.23036  , 13.229467 , 12.468554 , 12.936216 , 13.216567 ,
       12.897064 , 13.22033  , 13.223572 , 13.158649 , 13.214186 ,
       13.116682 , 13.192966 , 13.222651 , 12.894252 , 12.891963 ,
       13.177226 , 12.893484 , 12.893123 , 12.896649 , 13.211779 ,
       12.9371805, 13.034807 , 13.131214 , 13.15988  , 13.201408 ,
       12.892937 , 13.167784 , 12.9429655, 13.052727 , 13.223572 ,
       13.084482 , 13.0649185, 12.891447 , 13.14023  , 13.137236 ,
       12.890469 , 13.223572 , 13.221028 , 12.898045 , 13.188516 ,
       13.238219 , 13.218456 , 13.111201 , 13.222651 , 12.945857 ,
       13.090965 , 13.197859 , 13.2338915, 12.741356 , 13.108455 ,
       13.093459 , 12.682634 , 13.030074 , 12.894572 , 13.00535  ,
       13.222188 , 13.068659 , 13.114857 , 13.21081  , 13.223111 ,
       13.047081 , 13.108455 , 13.096504 , 13.225311 , 13.2064   ,
       12.7899685, 12.896397 , 13.113943 , 13.222651 , 13.224947 ,
       13.231249 , 13.031021 , 12.940073 , 13.07798  , 13.101613 ,
       13.156327 , 13.009165 , 13.2395   , 13.114857 , 13.204912 ,
       13.193745 , 13.209347 , 12.540794 , 13.227671 , 13.071458 ,
       12.894572 , 13.07984  , 13.040478 , 13.030074 , 12.893484 ,
       13.225859 , 12.963186 , 12.399464 , 13.240854 , 12.720594 ,
       13.186928 , 13.060236 , 13.113943 , 13.225403 , 13.093737 ,
       13.224489 , 12.782656 , 13.031021 , 13.193226 , 12.986227 ,
       12.895174 , 13.207878 , 12.088474 , 13.215617 , 13.163246 ,
       12.851366 , 12.895102 , 12.667591 , 13.184797 , 13.058361 ,
       12.89246  , 13.016783 , 13.097426 , 12.970877 , 12.774723 ,
       13.183191 , 13.13302  , 13.1420965, 13.241192 , 13.01107  ,
       12.592955 , 13.224489 , 13.1968355, 13.239074 ], dtype=float32)